<div class="page-header">
  <h1>Todo List</h1>
</div>

<div class="well">
  <%= link_to new_todo_path, :class => 'btn small inline btn-primary' do %>
    <i class="icon-plus-sign icon-white"></i>
    New Todo
  <% end %>
</div>

<section id="active">
  <h2>Active</h2>
  <%= render partial: 'table', locals: { todos: @active } %>
</section>

<section id="complete">
  <h2>Complete</h2>
  <%= render partial: 'table', locals: { todos: @complete } %>
</section>

