<div class="page-header">
  <% if @project %>
    <h1><%= @project.title %></h1>
  <% else %>
    <h1>Todo List</h1>
  <% end %>
</div>

<%= render partial: 'active', locals: { todos: @active } %>
<%= render partial: 'complete', locals: { todos: @complete } %>

